<app-menu></app-menu>
<div class="container-fluid fh5co-two-img">
    <div class="row">
        <div class="col-sm-6 pr-0 pl-0">
            <div class="card"> <img class="card-img" src="assets/img/girl1.jpg" alt="">
                <div class="card-img-overlay"> </div>
            </div>
        </div>
        <div class="col-sm-6 pr-0 pl-0">
            <div class="card"> <img class="card-img" src="assets/img/girl2.jpg" alt="">
                <div class="card-img-overlay"> </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fh5co-recent-work" id="divPerfil">
    <div class="container contact-pop">
        <div class="row">
            <div class="col-md-6  pr-0">
                <div class="card"> <img class="card-img w-100" src="assets/img/girl3.jpg" alt="">
                    <div class="card-img-overlay">
                        <h2 style="color: white;">Perfil</h2> </div>
                </div>
            </div>
            <div class="col-md-6 pl-0" id="about">
                <div class="content">
                    <p>Nombre:                   <input type="text" id="nombre" value="{{usuario.nombre}}"></p>
                    <p>Apellido:                 <input type="text" id="apellido" value="{{usuario.apellido}}"></p>
                    <p>contraseña anterior:      <input type="password" id="pass3" value="{{contra.passanti3}}"></p>
                    <p>contraseña nueva:         <input type="password" id="pass1" value="{{contra.passnueva1}}"></p>
                    <p>repetir contraseña nueva: <input type="password" id="pass2" value="{{contra.passnueva2}}"></p>
                    <button (click)="submit();" class="btn"
                    style="border: none; background: none; color: #007c7f; cursor:pointer; font-weight: bold;"
                    id="{{usuario.userid}}">EDITAR</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container recent" id="activity">
        <div class="row">
            <h2 style="color:black;">Noticias Recientes</h2>
            <div class="owl-carousel owl-carousel2 owl-theme">
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/recent-img1.jpg" alt="">
                        <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                                    alt="heart icon"></a>
                            <div class="bottom-text">
                                <h5 class="card-title">Noticia 1</h5>
                                <p class="card-text">Digital, Photography</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/recent-img2.jpg" alt="">
                        <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                                    alt="heart icon"></a>
                            <div class="bottom-text">
                                <h5 class="card-title">Noticia 2</h5>
                                <p class="card-text">Digital, Photography</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/recent-img3.jpg" alt="">
                        <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                                    alt="heart icon"></a>
                            <div class="bottom-text">
                                <h5 class="card-title">Noticia 3</h5>
                                <p class="card-text">Digital, Photography</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/recent-img4.jpg" alt="">
                        <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                                    alt="heart icon"></a>
                            <div class="bottom-text">
                                <h5 class="card-title">Noticia 4</h5>
                                <p class="card-text">Digital, Photography</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
<!--
<div>
    <h2 class="text-center d-block">Find me on social media</h2>
    <div class="row social-links">
        <ul class="nav mx-auto">
            <li class="nav-item"> <a class="nav-link" href="https://www.facebook.com/fh5co"><img
                        src="assets/img/facebook.png" alt=""></a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://twitter.com/fh5co"><img src="assets/img/twitter.png"
                        alt=""></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"><img src="assets/img/pinterest.png" alt=""></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#"><img src="assets/img/google-plus.png" alt=""></a> </li>
        </ul>
    </div>
    <br>
    <br>
</div>
-->