.round-button1{    
    cursor: pointer;
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: white;
    color: blue;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.round-button2{ 
    cursor: pointer;
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: red;
    background: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
