<app-menu></app-menu>
<div style="padding-top: 10%;" id="divTemas">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Tema Disponibles</h2>
                <br>
                <div *ngFor="let valor of valores">
                    <div class="container">
                        <div class="card">
                            <div class="card-img" style="height: 100px; border:3px solid #6653FF">
                                <div class="card-img-overlay" style="height: 100px; padding: 1rem;" alt="">
                                    <button (click)="agregar($event)" class="round-button1" id="{{valor.temaid}}">+</button>
                                    <div class="bottom-text">
                                        <h5 class="card-title">{{valor.nombre}}</h5>
                                        <p>{{valor.descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-sm">
                <h2>Tema De Interes</h2>
                <br>
                <div *ngFor="let valor of temas">
                    <div class="container">
                        <div class="card">
                            <div class="card-img" style="height: 100px; border: 3px solid #4c1352">
                                <div class="card-img-overlay" style="height: 100px; padding: 1rem;" alt="">
                                    <button (click)="eliminar($event)" class="round-button2" id="{{valor.temaid}}">-</button>
                                    <div class="bottom-text">
                                        <h5 class="card-title">{{valor.nombre}}</h5>
                                        <p>{{valor.descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>