<app-menu></app-menu>
<div style="padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="container" style="margin:10px;">
                <div class="card"
                    style="border: 3px solid #4c1352;  padding: 10px; background-image: linear-gradient(to right,white, #4c135299);">
                    <div class="bottom-text">
                        <h3 class="card-title">{{comentarios.noticiaid}}</h3>
                        <h4 class="card-title">{{comentarios.noticia}}</h4>
                        <h5 class="card-title">{{comentarios.fecha}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm">
                <h2>Agregar Comentarios</h2>
                <br>
                <textarea [(ngModel)]="nuevoComentario" style="width:100%; height: 100px; resize: none;"></textarea>
                <div style="text-align: right">
                    <button style="border: none; background: none; color: #790079; cursor:pointer; font-weight: bold;"
                        (click)="publicar($event)" id="">Comentar</button>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid fh5co-recent-work">
                <div class="container recent" style="margin-top:0;">
                    <div class="col">
                        <h2 style="color:black;">Comentarios</h2>
                        <br>
                        <div *ngFor="let valor of comen">
                            <div class="container">
                                <div class="card">
                                    <div class="card-img" style="height: 100px; border: 3px solid #4c1352">
                                        <div class="card-img-overlay" style="height: 100px; padding: 1rem;" alt="">
                                            <div class="bottom-text">
                                                <br>
                                                <h5 class="card-title" style="color:#790079;">Comentario:</h5>
                                                <p>{{valor.comentario}}</p>
                                                <p>{{valor.fecha}}</p>
                                            </div>
                                            <div style="text-align: right">
                                                <button (click)="editarComentario($event);" class="round-button2 heart" style="padding: 16px 12px; 
                                                border: none; 
                                                background: none; color: #790079; 
                                                cursor:pointer; font-weight: bold; 
                                                background-image: url({{imagen}}); 
                                                background-repeat: no-repeat;
                                                background-size: 25px 25px;" 
                                                id="{{valor.comentarioid}}"> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>