<app-menu></app-menu>
<div class="container-fluid recent fh5co-portfolio" id="portfolio">
    <div class="container">
      <h2>Noticias</h2>
      <div class="row">
        <div class="bx bx-1">
          <div class="card"> <img class="card-img" src="assets/img/portfolio-img1.png" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Natural site</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-2">
          <div class="card"> <img class="card-img" src="assets/img/portfolio-img2.png" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Vacation special photography</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-3">
          <div class="card"> <img class="card-img" src="assets/img/portfolio-img3.png" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Product photography</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-4">
          <div class="card"> <img class="card-img" src="assets/img/portfolio-img4.png" alt="">
            <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart" alt="heart icon"></a>
              <div class="bottom-text">
                <h5 class="card-title">Historical place shots</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="bx bx-middle" style="padding: 0;">
          <div class="bx bx-5">
            <div class="card"> <img class="card-img" src="assets/img/portfolio-img5.png" alt="">
              <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                    alt="heart icon"></a>
                <div class="bottom-text">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="bx bx-6">
            <div class="card"> <img class="card-img" src="assets/img/portfolio-img6.png" alt="">
              <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                    alt="heart icon"></a>
                <div class="bottom-text">
                  <h5 class="card-title">Lorem ipsum dolor</h5>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="bx bx-7">
              <div class="card"> <img class="card-img" src="assets/img/portfolio-img7.png" alt="">
                <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                      alt="heart icon"></a>
                  <div class="bottom-text">
                    <h5 class="card-title">Portraits</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="bx bx-8">
              <div class="card"> <img class="card-img" src="assets/img/portfolio-img8.png" alt="">
                <div class="card-img-overlay"> <a href="#"><img src="assets/img/heart.png" class="heart"
                      alt="heart icon"></a>
                  <div class="bottom-text">
                    <h5 class="card-title">Wedding photography</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>