<app-menu></app-menu>
<div style="padding-top: 10%;">
    <div class="container">
        <div style="margin-top: 12%;">
            <br>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2 style="color:  #5de34d;">Editar Noticia</h2>
                <br>
                <div>
                    <p>Fecha: {{noticia.fecha}}</p>
                </div>
                <textarea [(ngModel)]="nuevoEditadorNoticia"
                    style="width:100%; height: 100px; resize: none;"></textarea>
                <div style="text-align: right">
                    <button style="border: none; background: none; color: #5de34d; cursor:pointer; font-weight: bold;"
                        (click)="Editar()" id="">editar</button>
                    <br>
                </div>
                <div style='height:100px; background-color: "{{color}};"'>
                    <p>{{exito}}</p>
                </div>
            </div>
        </div>
        <div style="margin-top: 13%;">
            <br>
        </div>
    </div>
</div>