<app-menu></app-menu>
<div style="padding-top: 10%;" id="divFavoritos">
    <div class="container">
        <div class="row">
            <div class="col-sm ex3">
                <h2 style="color: #c3000050;">Favoritos</h2>
                <br>
                <div *ngFor="let valor of noticias">
                    <div class="container" style="margin:10px;">
                        <div class="card"
                            style="border: 3px solid #c30000;  padding: 10px; background-image: linear-gradient(to right,white, #c3000050);">
                            <div class="bottom-text">
                                <div style="text-align: right">
                                    <button (click)="eliminar($event)" class="round-button2"
                                        style="border: none; background: none; color: #c30000; cursor:pointer; font-weight: bold;"
                                        id="{{valor.noticiaid}}">X</button>
                                </div>
                                <h3 class="card-title">{{valor.noticia}}</h3>
                                <h4 class="card-title">{{valor.fecha}}</h4>
                                <h5 class="card-title">noticiaid: {{valor.noticiaid}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>