<app-menu></app-menu>
<div style="padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-sm ex3">
                <h2>Lista de usuarios que dieron me gusta</h2>
                <br>
                <div *ngFor="let valor of noticias">
                    <div class="container" style="margin:10px;">
                        <div class="card"
                            style="padding: 10px; background-image: linear-gradient(to right,white,white);">
                            <div class="bottom-text" style="display: flex;">
                                <img style="height: 50px;" src="assets/img/portfolio-img3.png" alt="">
                                <h3 class="card-title">{{valor.nombre}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>