<app-menu></app-menu>
<div style="padding-top: 10%;" id="divTimeline">
    <div class="container">
        <div class="row">
            <div class="col-sm ex3">
                <h2 style="color:#007c7f;">Time Line</h2>
                <br>
                <div *ngFor="let valor of noticias">
                    <div class="container" style="margin:10px;">
                        <div class="card"
                            style="border: 3px solid #00e0e6;  padding: 10px; background-image: linear-gradient(to right,white, #00e0e650);">
                            <div class="bottom-text">
                               <h4 class="card-title">{{valor.fecha}}</h4>
                                <h5 class="card-title">Tema: {{valor.tema.nombre}}</h5>
                                <h5 class="card-title">noticiaid: {{valor.noticiaid}}</h5>
                            </div>
                            <div style="text-align: right">
                                <button (click)="like($event);" class="round-button2 heart" style="padding: 16px 12px; border: none; background: none; color: #007c7f; cursor:pointer; font-weight: bold; background-image: url({{valor.imagen}}); 
                                    background-repeat: no-repeat;
                                    background-size: 25px 25px;" id="{{valor.noticiaid}}"> </button>
                                <button (click)="listaGustar($event);" class="round-button2"
                                    style="padding: 10px;border: none; background: none; color: #007c7f; cursor:pointer; font-weight: bold;"
                                    id="{{valor.noticiaid}}">| {{valor.usuarios.length}} Me gusta</button>
                                <button (click)="submit($event);" class="round-button2"
                                    style="border: none; background: none; color: #007c7f; cursor:pointer; font-weight: bold;"
                                    id="{{valor.noticiaid}}">| {{valor.comentarios.length}} Comentarios</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>