<nav class="navbar navbar-expand-md  fixed-top maine-menu">
        <div class="container">
                <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)"
                        data-toggle="collapse">
                        <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
                <div id="my-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                                <!-- <li class="nav-item"><a style="color: gray;" class="nav-link" href="categorias"
                                            tabindex="-1" aria-disabled="true"> Categorias</a></li> -->
                                <li class="nav-item"><a style="color: gray;" class="nav-link" href="temas" tabindex="-1"
                                                aria-disabled="true"> Temas</a></li>
                                <li class="nav-item"><a style="color: gray;" class="nav-link" href="misHistorias"
                                                tabindex="-1" aria-disabled="true"> Mis historias</a></li>
                                <li class="nav-item"><a style="color: gray;" class="nav-link" href="timeLine"
                                                tabindex="-1" aria-disabled="true"> Time Line</a></li>
                                <li class="nav-item"><a style="color: gray;" class="nav-link" href="tendencia"
                                                tabindex="-1" aria-disabled="true"> Tendencia</a></li>
                                <li class="nav-item"><a style="color: gray;" class="nav-link" href="favoritos"
                                                tabindex="-1" aria-disabled="true"> favoritos</a></li>
                                <li class="nav-item"><a style="color: gray;" class="nav-link" href="perfil"
                                            tabindex="-1" aria-disabled="true"> Perfil</a></li>
                        </ul>
                </div>
        </div>
</nav>