/*
 * Girly by FreeHTML5.co
 * Twitter: https://twitter.com/fh5co
 * Facebook: https://fb.com/fh5co
 * URL: https://freehtml5.co
 */
* {
  margin: 0;
  padding: 0; }

/* Colors */
/* fonts variable */
@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald-Bold.ttf); }

@font-face {
  font-family: "PT-Sans-Bold";
  src: url(../fonts/PT_Sans-Web-Bold.ttf); }

@font-face {
  font-family: "PT-Sans-Regular";
  src: url(../fonts/PT_Sans-Web-Regular.ttf); }

@font-face {
  font-family: "PT-Sans-Italic";
  src: url(../fonts/PT_Sans-Web-Italic.ttf); }

body {
  font-size: 16px;
  font-family: "PT-Sans-Regular"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT-Sans-Bold"; }

h2 {
  font-size: 25px;
  text-transform: uppercase; }
  @media (max-width: 600px) {
    h2 {
      font-size: 18px; } }

.maine-menu {
  position: absolute;
  top: 20px; }
  .maine-menu .navbar-nav li .nav-link {
    font-family: "PT-Sans-Bold";
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 25px;
    color: rgb(32, 30, 30); }
  .maine-menu .navbar-nav li.active a, .maine-menu .navbar-nav li:hover a, .maine-menu .navbar-nav li:visited a {
    color: #8500ff; }
  .maine-menu .bar1, .maine-menu .bar2, .maine-menu .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    display: block;
    position: relative; }
  .maine-menu .change .bar1 {
    -webkit-transform: rotate(-42deg) translate(-2px, 6px);
    transform: rotate(-42deg) translate(-2px, 6px); }
  .maine-menu .change .bar2 {
    opacity: 0; }
  .maine-menu .change .bar3 {
    -webkit-transform: rotate(46deg) translate(-4px, -8px);
    transform: rotate(46deg) translate(-4px, -8px); }
  @media (max-width: 991px) {
    .maine-menu .navbar-nav {
      float: right; }
      .maine-menu .navbar-nav li .nav-link {
        font-family: "PT-Sans-Bold";
        font-size: 16px;
        text-transform: uppercase;
        padding: 7px 10px;
        color: #fff; }
    .maine-menu .collapse.show {
      background: rgba(0, 0, 0, 0.5); } }

.card {
  border: none;
  background: none;
  border-radius: 0; }
  .card img {
    border-radius: 0; }

.fh5co-home-banner {
  padding: 0; }
  .fh5co-home-banner .card {
    border: none; }
  .fh5co-home-banner h2 {
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
    max-width: 730px;
    margin: 0 auto; }
  .fh5co-home-banner a {
    text-transform: uppercase;
    color: #fff;
    width: 198px;
    border-radius: 40px;
    margin-top: 50px;
    padding: 13px 0; }
    .fh5co-home-banner a svg {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: -13px; }
  .fh5co-home-banner .center-text {
    text-align: center;
    position: relative;
    top: 35%; }
  .fh5co-home-banner .card-img-overlay {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
    background: -linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black); }
  @media (max-width: 991px) {
    .fh5co-home-banner h2 {
      font-size: 30px;
      max-width: 460px; }
    .fh5co-home-banner .center-text {
      top: 30%; } }
  @media (max-width: 700px) {
    .fh5co-home-banner a {
      width: 140px;
      padding: 4px 0; }
      .fh5co-home-banner a svg {
        height: 35px;
        margin-top: -5px;
        width: 140px; } }
  @media (max-width: 600px) {
    .fh5co-home-banner a {
      margin-top: 20px; }
    .fh5co-home-banner h2 {
      font-size: 18px;
      max-width: 260px; }
    .fh5co-home-banner .center-text {
      top: 30%; } }

.fh5co-two-img .card-img-overlay {

  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black);
  background: -linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), black); }

.contact-pop {
  margin-top: -300px; }
  .contact-pop .card-img-overlay {
    
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background: -linear-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    border-radius: 15px 0 0 15px; 
  }
  .contact-pop .row {
    max-width: 918px;
    margin: 0 auto; }
  .contact-pop img {
    border-radius: 15px 0 0 15px; }
  .contact-pop .content {
    padding: 45px 20px 20px 40px;
    height: 100%;
    background: #fff;
    border-radius: 0 15px 15px 0; }
    .contact-pop .content h3 {
      color: #3d383a;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .contact-pop .content h4 {
      color: #978b91;
      font-size: 18px;
      font-family: "PT-Sans-Regular"; }
    .contact-pop .content p {
      color: #584f53; }
    .contact-pop .content hr {
      background-color: #8500ff;
      width: 50px;
      height: 5px;
      border: none;
      margin-left: 0; }
    .contact-pop .content a {
      background-color: #8500ff;
      width: 158px;
      border-radius: 40px;
      color: #fefefe;
      padding: 10px 0;
      margin-top: 20px; }
    @media (max-width: 991px) {
      .contact-pop .content {
        padding: 20px 20px 20px 25px; }
        .contact-pop .content h3 {
          font-size: 24px; }
        .contact-pop .content h4 {
          font-size: 16px; }
        .contact-pop .content p {
          font-size: 14px; }
        .contact-pop .content a {
          width: 120px;
          padding: 5px 0; }
        .contact-pop .content hr {
          margin: 10px 0; } }
  @media (max-width: 991px) {
    .contact-pop {
      margin-top: -250px; } }
  @media (max-width: 767px) {
    .contact-pop {
      margin-top: 0; }
      .contact-pop .col-md-6 {
        padding: 0; }
      .contact-pop img {
        border-radius: 15px 15px 0 0; }
      .contact-pop .card-img-overlay {
        border-radius: 15px 15px 0 0; }
      .contact-pop .content {
        border-radius: 0 0 15px 15px; } }

.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.fh5co-recent-work {
  background: #fff;
  padding: 100px 0; }
  @media (max-width: 767px) {
    .fh5co-recent-work {
      padding-bottom: 0; } }

.recent {
  margin-top: 200px; }
  .recent h2 {
    color: #fff; }
  .recent .owl-carousel .owl-stage-outer {
    padding-top: 30px;
    padding-bottom: 50px; }
  .recent .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff; }
    .recent .owl-carousel .owl-nav .owl-prev, .recent .owl-carousel .owl-nav .owl-next {
      height: 23px;
      width: 23px;
      text-align: center;
      padding: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 2px; }
      .recent .owl-carousel .owl-nav .owl-prev:hover, .recent .owl-carousel .owl-nav .owl-next:hover {
        background: #fff;
        color: #8500ff; }
      .recent .owl-carousel .owl-nav .owl-prev span, .recent .owl-carousel .owl-nav .owl-next span {
        position: relative;
        display: block;
        top: -2px; }
    .recent .owl-carousel .owl-nav button {
      outline: none; }
  .recent .card {
    border-radius: 15px;
    margin-bottom: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s; }
    .recent .card .card-img {
      border-radius: 15px; }
    .recent .card h5 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 5px; }
    .recent .card p {
      font-size: 14px;
      color: #8500ff; }
    .recent .card.active, .recent .card:hover {
      transform: scale(1.05, 1.1);
      -webkit-transform: scale(1.05, 1.1);
      -ms-transform: scale(1.05, 1.1);
      -moz-transform: scale(1.05, 1.1);
    }
      .recent .card.active .card-img-overlay, .recent .card:hover .card-img-overlay {
        background: -webkit-linear-gradient(rgba(250, 250, 250), rgb(250, 250, 250));
        background: -moz-linear-gradient(rgba(250, 250, 250), rgb(250, 250, 250));
        background: linear-gradient(rgba(250, 250, 250), rgb(250, 250, 250));
        background: -ms-linear-gradient(rgba(250, 250, 250), rgb(250, 250, 250));
        border: 3px solid #4c1352;
        border-radius: 15px;
      }
      .recent .card.active p, .recent .card:hover p {
        color: #e587ac; }
  .recent .card-img-overlay {
    /*
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85)); */}
  .recent .heart {
    width: auto !important; }
  .recent .bottom-text {
    position: absolute;
    bottom: 0; }
  @media (max-width: 767px) {
    .recent {
      margin-top: 100px; } }

.fh5co-portfolio {
  background-color: whitesmoke;
  /*background-image: url(../img/camera-bg.jpg);*/
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 100px 0;
  margin-top: 0; }
  .fh5co-portfolio h2 {
    color: #584f53;
    margin-bottom: 20px; }
  .fh5co-portfolio .card {
    margin-bottom: 0; }
    .fh5co-portfolio .card.active, .fh5co-portfolio .card:hover {
      transform: none;
      box-shadow: none; }
  .fh5co-portfolio .bottom-text {
    bottom: 15px; }
  .fh5co-portfolio .bx {
    float: left;
    padding: 7px; }
  @media (max-width: 1199px) {
    .fh5co-portfolio .bx-1, .fh5co-portfolio .bx-4 {
      width: 32.5%; }
    .fh5co-portfolio .bx-2 {
      width: 41%; }
    .fh5co-portfolio .bx-3 {
      width: 26.5%; }
    .fh5co-portfolio .bx-middle {
      width: 67.5%; }
    .fh5co-portfolio .bx-5, .fh5co-portfolio .bx-8 {
      width: 39%; }
    .fh5co-portfolio .bx-6, .fh5co-portfolio .bx-7 {
      width: 61%; } }
  @media (max-width: 991px) {
    .fh5co-portfolio h5 {
      font-size: 16px !important; } }
  @media (max-width: 767px) {
    .fh5co-portfolio h5 {
      font-size: 14px !important; } }
  @media (max-width: 576px) {
    .fh5co-portfolio h5 {
      font-size: 16px !important; }
    .fh5co-portfolio .bx {
      width: auto !important;
      display: inline-block;
      float: none;
      margin: 3px auto; }
    .fh5co-portfolio .bx-middle {
      text-align: center !important; }
      .fh5co-portfolio .bx-middle .heart {
        float: left !important; } }

.activity {
  background: white;
  padding-bottom: 50px; }
  .activity .recent {
    margin-top: 0; }
  .activity h2 {
    color: #584f53; }
  .activity .owl-carousel .owl-nav .owl-prev, .activity .owl-carousel .owl-nav .owl-next {
    color: #212020;
    border-color: #212020; }
    .activity .owl-carousel .owl-nav .owl-prev:hover, .activity .owl-carousel .owl-nav .owl-next:hover {
      background: #212020;
      color: #fff; }
  .activity .card {
    margin-bottom: 0;
    box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.2); }
    .activity .card .card-img-overlay {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); }
    .activity .card.active, .activity .card:hover {
      transform: none;
      box-shadow: none; }
      .activity .card.active .card-img-overlay, .activity .card:hover .card-img-overlay {
        /*esta*/
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(87, 35, 100, 0.50));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(87, 35, 100, 0.50));
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(87, 35, 100, 0.50));
        background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(105, 37, 122, 0.50)); }
      .activity .card.active p, .activity .card:hover p {
        color: #e587ac; }
    .activity .card h5 {
      font-size: 22px; }
    .activity .card:hover a {
      display: inline-block; }
  .activity .card-img-overlay {
    padding: 0 2.2rem; }
    .activity .card-img-overlay a {
      display: none;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      margin-top: 10px; }
      .activity .card-img-overlay a img {
        width: 20px;
        display: inline-block;
        color: #fff; }

.fh5co-about-me {
  padding: 0; }
  .fh5co-about-me .card-img-overlay {
    background-color: rgba(233, 14, 101, 0.902); }
  .fh5co-about-me h2 {
    text-align: center;
    color: #fff;
    margin: 70px auto; }
  .fh5co-about-me .card-img {
    min-height: 730px; }
  .fh5co-about-me .carousel-indicators {
    bottom: 100px; }
    .fh5co-about-me .carousel-indicators li {
      height: 89px;
      width: 89px;
      z-index: 55;
      text-indent: 5px;
      border: 1px solid #fafafa;
      border-style: solid;
      border-radius: 50%;
      padding: 3px;
      background: none;
      margin: 0 20px;
      position: relative;
      top: 43px;
      opacity: 0.5; }
      .fh5co-about-me .carousel-indicators li span {
        font-family: "PT-Sans-Bold";
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
        display: none;
        color: #fff; }
      .fh5co-about-me .carousel-indicators li img {
        width: 100%;
        position: relative;
        left: -5px; }
      .fh5co-about-me .carousel-indicators li.active {
        height: 166px;
        width: 166px;
        opacity: 1;
        top: 0px;
        padding: 7px; }
        .fh5co-about-me .carousel-indicators li.active span {
          display: block; }
  .fh5co-about-me .carousel-caption {
    bottom: 335px; }
    .fh5co-about-me .carousel-caption p {
      max-width: 540px;
      margin: 0 auto;
      margin-top: 50px; }
  @media (max-width: 991px) {
    .fh5co-about-me .card-img {
      position: relative;
      width: 150% !important;
      margin-left: -25%;
      margin-right: -25%; } }
  @media (max-width: 720px) {
    .fh5co-about-me h2 {
      margin: 20px auto; }
    .fh5co-about-me .card-img {
      min-height: 575px; }
    .fh5co-about-me .carousel-caption {
      left: 5%;
      right: 5%;
      bottom: 270px; }
      .fh5co-about-me .carousel-caption p {
        margin-top: 20px; }
      .fh5co-about-me .carousel-caption img {
        max-width: 50px; }
    .fh5co-about-me .carousel-indicators {
      bottom: 100px;
      margin-left: 5%;
      margin-right: 5%; }
      .fh5co-about-me .carousel-indicators li {
        height: 60px;
        width: 60px;
        margin: 0 10px;
        top: 20px; }
        .fh5co-about-me .carousel-indicators li span {
          font-size: 14px; }
        .fh5co-about-me .carousel-indicators li.active {
          height: 100px;
          width: 100px; } }

.fh5co-insta-feed {
  padding: 100px 0;
  background: #f7f0f1; }
  .fh5co-insta-feed .card {
    box-shadow: none; }
    .fh5co-insta-feed .card .card-img-overlay {
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
      background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); }

.twit-box {
  margin: 0 auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
  padding: 60px 30px 30px 30px; }
  .twit-box .media-body h5 {
    font-size: 22px;
    color: #03a9f4; }
  .twit-box .media-body p {
    color: #a1a0a1; }
  .twit-box p {
    color: #666666; }
  .twit-box a {
    background-color: #03a9f4;
    border-color: #03a9f4;
    width: 120px;
    padding: 5px 0;
    border-radius: 40px; }
    .twit-box a:hover, .twit-box a:visited {
      background-color: #0286c2; }
  .twit-box::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 57px;
    background: url(../img/twitter-logo.png);
    margin-left: -55px;
    top: -20px; }

.feed-caro {
  padding-top: 36px; }
  @media (max-width: 1199px) {
    .feed-caro {
      padding-top: 95px; } }

.social-links {
  margin-top: 20px; }
  .social-links ul li {
    text-align: center;
    margin: 0 10px; }
    .social-links ul li a {
      border: 1px solid #a59299;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      padding: 0;
      padding-top: 10px; }
    .social-links ul li:hover a, .social-links ul li:visited a {
      background: #fff; }

footer {
  background: #8500ff; }
  footer iframe {
    height: 100%;
    width: 100%; }
  footer .contact-form {
    border-radius: 25px;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 380px;
    margin: 117px auto; }
    footer .contact-form h3 {
      color: #8500ff;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px; }
    footer .contact-form .form-control {
      margin-bottom: 20px;
      border: none;
      background-color: #ebd8df;
      border-radius: 25px;
      font-size: 15px;
      padding: 25px 30px; }
    footer .contact-form ::-webkit-input-placeholder {
      color: #928f8f; }
    footer .contact-form textarea {
      height: 203px;
      resize: none;
      padding-top: 20px !important; }
    footer .contact-form button {
      background: #8500ff;
      width: 140px;
      padding: 13px 0;
      font-size: 15px;
      color: #fff;
      border: none;
      border-radius: 40px;
      margin: 0 auto;
      display: block;
      cursor: pointer; }
      footer .contact-form button:hover, footer .contact-form button:visited {
        background: #b90b50; }
  footer .copy {
    background: #282526;
    text-align: center; }
    footer .copy p {
      color: #fff; }
    footer .copy a {
      color: #fff;
      transition: 0.3s ease;
      text-decoration: none; }
      footer .copy a:hover {
        color: #8500ff; }
  @media (max-width: 1199px) {
    footer .contact-form {
      margin: 50px auto; } }
  @media (max-width: 767px) {
    footer .map {
      min-height: 300px; } }

@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0; }
  .container-fluid {
    padding-left: 0;
    padding-right: 0; } }

/* Blog page style */
.fh5co-blog-content {
  background-image: url(../img/girl2.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.blog-content-bckg {
  margin: 0 auto;
  padding: 70px 0;
  width: 80%;
  color: #fff; }
  @media (max-width: 992px) {
    .blog-content-bckg {
      padding: 40px 0; } }

.blog-content-inner {
  background-color: #f2d5d7;
  background-color: #8500ff;
  padding: 70px;
  border-radius: 15px; }
  .blog-content-inner .card-title {
    margin-bottom: 70px;
    font-size: 45px;
    text-align: center; }
    @media (max-width: 992px) {
      .blog-content-inner .card-title {
        margin-bottom: 40px;
        font-size: 30px; } }
    @media (max-width: 600px) {
      .blog-content-inner .card-title {
        font-size: 18px; } }
  @media (max-width: 767px) {
    .blog-content-inner {
      padding: 40px; } }
  @media (max-width: 600px) {
    .blog-content-inner {
      padding: 20px 0; } }

.single-blog {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  .single-blog:last-child {
    margin-bottom: 0; }
  @media (max-width: 1199px) {
    .single-blog .single-blog__img {
      margin-bottom: 30px; } }
  @media (max-width: 600px) {
    .single-blog .single-blog__text {
      font-size: 14px;
      text-align: justify; } }
  @media (max-width: 1199px) {
    .single-blog {
      padding-bottom: 20px;
      border-bottom: 1px solid #fff; }
      .single-blog:last-child {
        padding-bottom: 0;
        border-bottom: none; } }
