<app-menu></app-menu>
<div style="padding-top: 10%;" id="divMisHistorias">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Nuevas noticias</h2>
                <br>
                <textarea [(ngModel)]="noticia" style="width:100%; height: 250px; resize: none;"></textarea>
                <br>
            </div>
            <div class="col-sm ex3">
                <h2>Tema De Interes</h2>
                <br>
                <div *ngFor="let valor of temas">
                    <div class="container">
                        <div class="card">
                            <div class="card-img" style="height: 100px; border: 3px solid #1ed320">
                                <div class="card-img-overlay" style="height: 100px; padding: 1rem;" alt="">
                                    <div class="bottom-text">
                                        <h5 class="card-title">{{valor.nombre}}</h5>
                                    </div>
                                    <div style="text-align: center;">
                                        <button (click)="publicar($event)" class="button"
                                            style="padding: 0 20px; border: 3px solid; color: white; background: #1ed320;"
                                            id="{{valor.temaid}}">PUBLICAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fh5co-recent-work">
        <div class="container recent" style="margin-top:0;">
            <div class="col">
                <h2 style="color:black;">Mis Noticias</h2>
                <br>
                <div *ngFor="let valor of noticias">
                    <div class="container">
                        <div class="card">
                            <div class="card-img" style="height: 100px; border: 3px solid #1ed320; 
                            background: linear-gradient(to right,white, #1ed32030);">
                                <div class="card-img-overlay" style="height: 100px; padding: 1rem;" alt="">
                                    <div class="bottom-text" style="max-width: 90% !important;">
                                        <h5 class="card-title" style="color:#159816;">Noticia:</h5>
                                        <p style="color: black;">{{valor.noticia}}</p>
                                    </div>
                                    <div style="text-align: right">
                                        <button (click)="eliminar($event)" class="round-button2"
                                            style="border: none; padding: 0px 10px; background: none; color: #1ed320; cursor:pointer; font-weight: bold;"
                                            id="{{valor.noticiaid}}">X</button>
                                        <br>
                                        <button (click)="editarNoticia($event);" class="round-button2 heart" style="padding: 16px 12px; 
                                        border: none; 
                                        background: none; color: #1ed320; 
                                        cursor:pointer; font-weight: bold; 
                                        background-image: url({{editar}}); 
                                        background-repeat: no-repeat;
                                        background-size: 25px 25px;" id="{{valor.noticiaid}}"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                </div>



            </div>
        </div>
    </div>
</div>