<app-menu></app-menu>
<div style="padding-top: 10%;" id="divTendencias">
    <div class="container">
        <div class="row">
            <div class="col-sm ex3">
                <h2>Tendencia</h2>
                <br>
                <div *ngFor="let valor of noticias">
                    <div class="container" style="margin:10px;">
                        <div class="card"
                            style="border: 3px solid #ff8a11;  padding: 10px; background-image: linear-gradient(to right,white, #ff8a1150);">
                            <div class="bottom-text">
                                <h3 class="card-title">{{valor.nombre}}</h3>
                                <h5 class="card-title">{{valor.descripcion}}</h5>
                                <h6 class="card-title">{{valor.noticias.length}} noticias</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: right">
                    <button (click)="mostrarMas()" class="round-button2"
                        style="border: none; background: none; color: #ff8a11; 
                        cursor:pointer; font-weight: bold;">mostrar más</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>