<div class="container-fluid fh5co-home-banner">
   <div class="card"> <img class="card-img" src="assets/img/photo-collage.jpg" style="height: 700px;">
      <div class="card-img-overlay">
         <div class="center-text" style="top: 35% !important;">
            <mat-card class="my-card" style="width: 50%; margin: 0% 25%;" >
               <div id="notification" class="alert alert-danger" *ngIf="alerta" role="alert">{{ alerta }}</div>
               <h2 class="card-title" style="color:black;">LOGIN</h2>
               <mat-card-content style="text-align: center;">
                  <form class="my-form">
                     <br>
                     <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="correo" placeholder="Email" name="correo">
                     </mat-form-field>
                     <br>
                     <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [(ngModel)]="password" placeholder="Password" name="password">
                     </mat-form-field>
                  </form>
                  <mat-card-actions>
                     <button mat-raised-button (click)="login()" color="primary" id="btnLogin">LOGIN</button>
                  </mat-card-actions>
               </mat-card-content>
            </mat-card>
         </div>
      </div>
   </div>
</div>