<div class="container-fluid fh5co-home-banner">
    <div class="card"> <img class="card-img" src="assets/img/134828.jpg" alt="" style="height: 700px;">
       <div class="card-img-overlay">
          <div class="center-text" style="top: 25% !important;">
             <mat-card class="my-card" style="width: 50%; margin: 0% 25%;">
               <div id="notification" class="alert alert-danger" *ngIf="alerta" role="alert">{{ alerta }}</div> 
               <h2 class="card-title" style="color:black;">REGISTRO</h2>
                <br>
                <mat-card-content>
                   <form class="my-form">
                      <mat-form-field class="full-width">
                         <mat-label>Email</mat-label>
                         <input matInput placeholder="Email" name="email" required>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width">
                         <mat-label>Nombre</mat-label>
                         <input matInput placeholder="Nombre" name="fname" required>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width">
                         <mat-label>Apellido</mat-label>
                         <input matInput placeholder="Apellido" name="lname" required>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width">
                         <mat-label>Password</mat-label>
                         <input type="password" matInput placeholder="Password" name="password" required>
                      </mat-form-field>
                      <br>
                   </form>
                </mat-card-content>
                <mat-card-actions>
                   <button mat-raised-button (click)="register()" color="primary">REGISTRO</button>
                </mat-card-actions>
             </mat-card>
          </div>
       </div>
    </div>
 </div>