<app-menu></app-menu>
<div class="container-fluid fh5co-recent-work activity">
    <div class="container recent">
        <div class="row">
            <h2 style="color:black;">Categorias</h2>
            <div class="owl-carousel owl-carousel3 owl-theme">
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/activity-img1.png" alt="">
                        <div class="card-img-overlay">
                            <div class="bottom-text">
                                <h5 class="card-title">Sed ut perspiciatis unde &nbsp; iste natus error sit volup</h5>
                                <a href="#">Read more <img src="assets/img/double-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/activity-img2.png" alt="">
                        <div class="card-img-overlay">
                            <div class="bottom-text">
                                <h5 class="card-title">Sed ut perspiciatis unde &nbsp; iste natus error sit volup</h5>
                                <a href="#">Read more <img src="assets/img/double-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card"> <img class="card-img" src="assets/img/activity-img3.png" alt="">
                        <div class="card-img-overlay">
                            <div class="bottom-text">
                                <h5 class="card-title">Sed ut perspiciatis unde &nbsp; iste natus error sit volup</h5>
                                <a href="#">Read more <img src="assets/img/double-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
